name: Build_dev

# Controls when the workflow will run
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
  

jobs:
   on-success:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - run: echo 'The triggering workflow passed'
   on-failure:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'failure' }}
    steps:
      - run: echo 'The triggering workflow failed'
   build:
    runs-on: ubuntu-latest
    steps:
      - name: BuildStep_Dev
        run: echo 'BuyidDev Completed'
