name: Build_dev

# Controls when the workflow will run
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
  

jobs:
   build:
    runs-on: ubuntu-latest
    steps:
      - name: BuildStep_Dev
        run: echo 'BuyidDev Completed'
